<p style="color: green"><%= notice %></p>

<% content_for :title, "Categories" %>

<h1 class="m-4 text-center">Categories</h1>
<div>
<div id="categories" class="row row-cols-3" style="grid-template-columns: 1fr 1fr;">
  <% @categories.each do |category| %>
    <div>
      <%= render category, class:"text-center" %>
    </div>
  <% end %>
</div>
</div>

<% if current_admin %>
  <%= link_to "Add New Category", new_category_path, class:"btn btn-primary m-4" %>
<% end %>