<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1 class="m-4 text-center">Products</h1>
<div>
<div id="products" class="row row-cols-3" style="grid-template-columns: 1fr 1fr;">
  <% @products.each do |product| %>
    <div>
      <%= render product, class:"text-center" %>
    </div>
  <% end %>
</div>
</div>

<%= link_to "Add New Product", new_product_path, class:"btn btn-primary m-4" %>
