<% content_for :title, "New product" %>

<div class="mt-4 p-2 bg-secondary-subtle">
  <h1><strong>New Product</strong></h1>

  <%= render "form", product: @product %>

  <br>

  <div>
    <%= link_to "Back to Admin Page", admin_path %>
  </div>
</div>
